/* to import font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

/* reset in CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --x_small: .5rem;
    --small: .75rem;
    --normal: 1rem;
    --large: 1.5rem;
    --x_large: 2rem;
    --white:  rgb(255, 253, 253);
    --radius: 4px;
    --gray: gray;
    --darkRed: darkred;
}

body {
    background-image: url(./images/weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: calc(var(--large) * 5); */
    background-color: var(--gray);
    padding: var(--large);
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    opacity: .85;
    border-radius: var(--radius);
    box-shadow: 1px 1px 5px  var(--gray);
}

/* title */
.container h1 {
    color: var(--darkRed);
    letter-spacing: 1px;
}

/* form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 4px 0;
    border: 2px solid var(--white);
    border-radius: var(--radius);
    transition: all .7s;
    margin: var(--small) 0;
}

form:hover {
    outline: none;
    border: 2px solid var(--darkRed);
    width: 90%;
    justify-content: space-between;
}

form:hover input {
    letter-spacing: .5px;
    flex: 1;
    font-size: var(--small);
}

input {
    color: var(--white);
    letter-spacing: 1px;
}

input, button {
    padding: var(--x_small);
    border: none;
    outline: none;
    background-color: inherit;
}

input::placeholder {
    font-family: 'Roboto Flex', sans-serif;
    font-size: var(--x_small) * 3 / 2;
    color: var(--white);
    font-size: var(--small);

}

button i {
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 900;
    color: var(--white);
    transition: all .7s;
}

form:hover button i {
    color: var(--darkRed);
}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section {
    margin: var(--small) 0;
}

main section h3 {
    font-size: var(--normal);
}

main section p {
    font-size: var(--small);
    margin-top: 5px;
}

.weather-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--x_small);
    text-transform: capitalize;
    margin: var(--x_small) 0;
}


/* icon image */
.icon-image {
    width: 50px;
    z-index: 10;
}