/* reset in CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --large: 5rem;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: var(--large);
}